<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |key, value| %>
      <% if value=="Invalid username/password" %>
        <p class="alert alert-danger"><%=value%></p>
      <% elsif value=="User was successfully created." %>
        <p class="alert alert-success"><%=value%></p>
      <% else %>
        <p class="alert alert-info"><%=value%></p>
      <%end%> 
    <%end%>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: "Enter your email" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "Enter your password" %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>