<p id="notice"><%= notice %></p>
<ul class="nav nav-tabs">
<li><%= link_to 'Show All', @post %></li>
<% @post.images.all.each do |image| %>
  <% if image == @image %><li class="active">
  <% else %><li><% end %>
  <%= link_to 'page '+image.number.to_s, "/posts/"+@post.title.parameterize+"/images/"+image.number.to_s %></li>
<% end %>
</ul>
  
</br></br>


<div class="container2">

<div class="right"><% if Image.exists?(Image.find_by_id(@image.id+1)) %>
	<a href='<%=@image.number+1%>'>&rsaquo;</a>
<%end%></div>	
<div class="clear"></div>
<div class="left"><% if @image.number>1 %>
	<a href='<%=@image.number-1%>'>&lsaquo;</a>
<% end %></div>

<div class="center"><%= image_tag @image.preview %></div>

</div>
 
</br>
<span style="float:right;"><%= link_to raw("<span class='glyphicon glyphicon-download-alt'></span> Download Image"), @image.preview %></span>
<span style="float:left;"><%= pluralize(@image.likes.count, "like") %>
<% if @image.likes.where(user_id: current_user.id)==[]%>
<tr><%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span> Like"), make_like_post_image_path, method: :post, data: {disable_with: raw("<span class='glyphicon glyphicon-thumbs-down'></span> Unlike")} %>
<% else %>
<tr> <%= link_to raw("<span class='glyphicon glyphicon-thumbs-down'></span> Unlike"), make_unlike_post_image_path, method: :delete, data: {disable_with: raw("<span class='glyphicon glyphicon-thumbs-up'></span> Like")} %>
<% end %></span></br>
<% @image.comments.each do |comment| %><div class="container"><div class="jumbotron">
<% commenter=User.find_by_id(comment.user_id) %>
  <% if commenter.admin %>
  <%= image_tag("/assets/icon-admin.png", size: "50") %>
  <% else %>
  <%= image_tag("/assets/icon-user.png", size: "50") %>
  <% end %>
  <p class="badge"><%= commenter.name %></p>
  <p class="well"><%= comment.text %></p>
  <p><%= time_ago_in_words comment.created_at %> ago </p>
  <% if commenter == current_user or current_user.admin %>
  <p><%= link_to "Delete comment" ,[@post,@image,comment] ,:method => :delete , :confirm => "Are you sure"%></p>
  <% end %>
  </div></div><% end %>
  
  

<div class="container2"><%= form_for [@post, @image, @image.comments.build] do |f| %>
<p> <%= f.text_area :text, class: "form-control", style: "height:100px;width:97%;float:right;", placeholder: "Write a comment..." %> </p>
<p> <%= f.submit "post comment", class: "btn btn-primary", style: "width:97%;float:right;", data: {disable_with:"post comment"}%> </p>
<% end %></div></div></div>